﻿@model Servers.Models.ServersModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Servidor</h1>

<h3>¿Estas seguro de borrar el servidor?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvgMS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvgMS) ms
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Voler a la lista</a>
    </form>
</div>
