﻿@model Servers.Models.ServersModel

@{
    ViewData["Title"] = "Detail";
}

<h1>Detalles del Servidor</h1>

<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvgMS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvgMS) ms
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ServID }) |
    <a asp-action="Index">Volver a la lista</a>
</div>
