﻿@model Servers.Models.ServersModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Servidor</h1>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ServID" class="control-label"></label>
                <input asp-for="ServID" class="form-control" readonly/>
                <span asp-validation-for="ServID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServName" class="control-label"></label>
                <input asp-for="ServName" class="form-control" />
                <span asp-validation-for="ServName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServCountry" class="control-label"></label>
                <input asp-for="ServCountry" class="form-control" />
                <span asp-validation-for="ServCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvgMS" class="control-label"></label>
                <input asp-for="AvgMS" class="form-control" />
                <span asp-validation-for="AvgMS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game" class="control-label"></label>
                <input asp-for="Game" class="form-control" />
                <span asp-validation-for="Game" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
