﻿@model IEnumerable<Servers.Models.ServersModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Servidores</h1>

<p>
    <a asp-action="Create">Añadir Servidor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvgMS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvgMS) ms
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ServID }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Detalles", "Detail", new { id = item.ServID }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.ServID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
